.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;

  margin: 56px auto 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin-top: 48px;
  }
}
