.lead__image{
    width: 100%;
    padding: 0;
    margin: 64px 0 0 0 ;
    box-sizing: border-box;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .lead__image{
        margin-top: 56px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image{
        margin-top: 40px;
    }
}