.lead__caption{
    font-size: 10px;
    line-height: calc(14/10);
    text-align: left ;
    margin-top: 8px;
    font-weight: 400;
}
@media screen and (max-width: 768px) {
    .lead__caption{
        margin-left: 24px;
    }
}
@media screen and (max-width: 320px) {
    .lead__caption{
        margin-left: 16px;
    }
}